.header {
    background: #F6F5F4;
}

.container {
    min-height: 20px;
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainmenu {
    display: flex;
    margin-left: 50px;
}

.mainmenu li {
    list-style: none;
}

.mainmenu li a {
    padding: 0 15px;
}

.left {
    display: flex;
}

.right {
    display: flex;
    align-items: center;
}

.username {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.username img {
    margin-right: 7px;
}

.signout {
    font-weight: bold;
    display: flex;
    align-items: center;
}
